<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://fzit.nl/maakboekingen/config">
  <DatabaseBookingProgram>	
	<Dbms>sqlite</Dbms>
	<ServerName></ServerName>
	<PortNumber></PortNumber>
	<DbName>../GnuCashSqlite/fz-it-jaar-2016.gnucash</DbName>
	<User></User>
	<Password></Password>	
  </DatabaseBookingProgram>
  <PluginDirectory>C:\mijn documenten\Maakboekingen\run_programma\lib\MaakBoeking-0.0.1-SNAPSHOT.jar</PluginDirectory>
  <ClassNamePluginBookingProgram>nl.fzit.MaakBoekingGnuCash.MaakBoeking</ClassNamePluginBookingProgram>
  <ClassNamePluginSql>nl.fzit.sql.Sql</ClassNamePluginSql>
  <TransactionsFiles>
	<DirectoryTransactionFiles>C:\mijn documenten\Maakboekingen\transacties</DirectoryTransactionFiles>
	<TransactionFilesToReadRegex>.*940</TransactionFilesToReadRegex>
	<BeginBalanceRegex>:60F:([CD])\d{6}EUR(\d+,\d{2})</BeginBalanceRegex>
	<BookingDateAndAmountRegex>:61:(\d{6})\d{4}([CD])(\d+,\d{2})</BookingDateAndAmountRegex>
	<EndBalanceRegex>:62F:([CD])\d{6}EUR(\d+,\d{2})</EndBalanceRegex>
	<AccountNumberRegex>:86:(.*) </AccountNumberRegex>
  </TransactionsFiles>
  <Accounts>
		<Account AccountNumber="NL72SNSB0898519659">
			<BookingAccountForAccountNumber>Activa:Huidige Activa:Lopende Rekening</BookingAccountForAccountNumber>
			<Booking>
				<BookingDescriptionRegex>:86:NL92SNSB0908995105</BookingDescriptionRegex>
				<BookingDescription>Overboeking van lopende rekening naar spaarrekening</BookingDescription>
				<AddDateToBookingDescription>N</AddDateToBookingDescription>
				<BookingLine>
					<BookingAccount>Activa:Huidige Activa:Spaarrekening</BookingAccount>
					<DebitCredit>D</DebitCredit>
					<PercentageOfTotalAmount>100</PercentageOfTotalAmount>
				</BookingLine>
			</Booking>
		</Account>
  </Accounts>
 </config>





